<footer class="site-footer h-card">
<div class="wrapper">


  <section class="licence">
    <p>Le jeu de rôle Locquemare est créé par Christian Amauger - <a href="https://ludomancien.com/">Ludomancien</a>, sous licence
    <a href="https://creativecommons.org/licenses/by/3.0/">CC Attribution-Share Alike 4.0 International</a>
    </p>
    <p>Le jeu de rôle Locquemare est basé sur Fate Core System, sur Fate System Toolkit et surtout sur
    <a href="https://www.faterpg.com">Fate Accelerated Edition</a>, produits de Evil Hat Productions, LLC, développés, écrits et édités par Leonard Balsera, Brian Engard, Jeremy Keller, Ryan Macklin, Mike Olson, Clark Valentine, Amanda Valentine, Fred Hicks et Rob Donoghue et sous licence d’utilisation
    <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported</a>.
     </p>
    <p>Fate™ est une marque déposée par Evil Hat Productions, LLC. Le logo Powered by Fate est © Evil Hat Productions, LLC et est utilisé avec sa permission.
    </p>
    <p>La police Fate Core est © Evil Hat Productions, LLC et est utilisé avec sa permission. Les quatre icones actions ont été créées par Jeremy Keller. </p>
  </section>
</div>
</footer>
