<div>
    <h2>Une narration à trois niveaux</h2>

  <p>L'histoire qui va se dérouler est forgée par trois niveaux de narration&nbsp;: les <strong>Héros</strong>, qui sont
    les personnages principaux, l'<strong>Adversité</strong>, qui va créer des embûches pour les <strong>Héros</strong>,
    et le
    <strong>Choeur</strong>,
    qui va intervenir lorsqu'il est nécessaire de faire des liens, d'arbitrer des situations ou tout simplement fournir
    des informations complémentaires.
  </p>

  <h3>Le Héros</h3>
  <p>Tu es un <strong>Héros</strong>. D'autres joueurs le sont également. Ce sont tes <strong>Alliés</strong>.
    Un joueur est l'<strong>Adversité</strong>.
    Tous ensemble vous êtes le <strong>Choeur</strong>.</p>

  <h3>Le Choeur</h3>
  <p>Le Choeur, c'est l'ensemble des participants. Le Choeur intervient lorsqu'il est nécessaire de clarifier des
    aspects de l'histoire, d'arbitrer ou de trouver un consensus. Le plus souvent, le Choeur intervient pour orienter la
    trame narrative.</p>

  <h3>L'Adversité</h3>
  <p>L'un des participants ne joue pas de héros, mais représente l'Adversité. Ce n'est pas ton ennemi. L'Adversité tire
    les ficelles des intrigues. Elle interprète tous les personnages qui ne sont pas des héros. Elle crée des situations
    conflictuelles. Elle aide les héros à se dépasser.</p>
</div>