<div class="portraits">
    <div class="portrait">
      <img
        src="https://res.cloudinary.com/dmd9v4pth/image/upload/w_200,ar_1:1,c_fill,g_auto/v1552741585/locquemare/21e9468604a9cc9e5f5ac2fd37228fbb.jpg"
        alt="">
    </div>
    <div class="portrait">
      <img
        src="https://res.cloudinary.com/dmd9v4pth/image/upload/w_200,ar_1:1,c_fill,g_auto/v1552741585/locquemare/829498529981509de96a0c8610c88f20.jpg"
        alt="">
    </div>
    <div class="portrait">
      <img
        src="https://res.cloudinary.com/dmd9v4pth/image/upload/w_200,ar_1:1,c_fill,g_auto/v1552741585/locquemare/0b49e3fe1f148e2491367dbf5899a66a.jpg"
        alt="">
    </div>
    <div class="portrait">
      <img
        src="https://res.cloudinary.com/dmd9v4pth/image/upload/w_200,ar_1:1,c_fill,g_auto/v1553100139/locquemare/glaive-f.jpg"
        alt="">
    </div>
    <div class="portrait">
      <img
        src="https://res.cloudinary.com/dmd9v4pth/image/upload/w_200,ar_1:1,c_fill,g_auto/v1552741585/locquemare/fa92f8ab4b7799e781abb67646f4832e.jpg"
        alt="">
    </div>
    <div class="portrait">
      <img
        src="https://res.cloudinary.com/dmd9v4pth/image/upload/w_200,ar_1:1,c_fill,g_auto/v1552741585/locquemare/5898c25dfc3a8a92649b864d6c1e0b7c.jpg"
        alt="">
    </div>
    <div class="portrait">
      <img
        src="https://res.cloudinary.com/dmd9v4pth/image/upload/w_200,ar_1:1,c_fill,g_auto/v1553100139/locquemare/gardien.jpg"
        alt="">
    </div>
    <div class="portrait">
      <img
        src="https://res.cloudinary.com/dmd9v4pth/image/upload/w_200,ar_1:1,c_fill,g_auto/v1553100139/locquemare/traqueur-f.jpg"
        alt="">
    </div>
    <div class="portrait">
      <img
        src="https://res.cloudinary.com/dmd9v4pth/image/upload/w_200,ar_1:1,c_fill,g_auto/v1553100139/locquemare/traqueur-m.jpg"
        alt="">
    </div>
  </div>