

.hero {
  background-image: url("https://res.cloudinary.com/dmd9v4pth/image/upload/v1548807375/locquemare/20.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  height: 300px;
    @media (min-width: 900px) {
      height: 400px;
      display: block;
      margin-left: -100px;
      margin-right: -100px;
    }
}

.home-main {
.btn {
  padding: 10px 20px 10px 20px;
  border: 1px solid orange;
  color: orange;
  margin: auto;
  width: 120px;
  display: block;
  text-align: center;
  text-transform: uppercase;
}
h1 {
  text-align: center;
  padding: 20px;
}

}
