

.hero {
  background-image: url("https://res.cloudinary.com/dmd9v4pth/image/upload/v1548807375/locquemare/20.jpg");
  background-repeat: no-repeat;
  background-position: top center;

  section {
    background: white;
    max-width: 600px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
  }

.btn {
  padding: 10px 20px 10px 20px;
  border: 1px solid orange;
  color: orange;
  margin: auto;
  width: 120px;
  display: block;
  text-align: center;
  text-transform: uppercase;
}

&__title {
  margin: auto;
  width: 100%;

  h1 {
    font-family: $head-font;
    font-size: 1.8rem;
    text-align: center;
    background: -webkit-linear-gradient(yellow, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  @media (min-width: 500px) {
    font-size: 2.5rem;
  }
  @media (min-width: 900px) {
    font-size: 4rem;
    margin-top: 100px;
  }
}
h2  {
  text-align: center;
  font-size: 1.7rem;
  font-family: $main-font;
  background: -webkit-linear-gradient(yellow, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  border: none;
  @media (min-width: 500px) {
    font-size: 2.5rem;
  }
  @media (min-width: 900px) {
    font-size: 4rem;
    margin-bottom: 100px;
  }
}
}

}
