$head-font: 'Stalinist One', cursive;
$main-font: 'Open Sans', sans-serif;

.hero {
  background-image: url("https://res.cloudinary.com/dmd9v4pth/image/upload/v1548807375/locquemare/20.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  height: 100vh;

.the_eight {
  position: absolute;
  top: -50px;
  opacity: 0.7;
  font-size: 25rem;
  font-family: $main-font;
  color: grey;
  margin: auto;
  width: 100%;
  text-align: center;
}

&__title {
  margin: auto;
  width: 100%;
  position: relative;
  top: 25%;
  h1 {
    font-family: $head-font;
    font-size: 1.8rem;
    text-align: center;
    background: -webkit-linear-gradient(yellow, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  @media (min-width: 500px) {
    font-size: 2.5rem;
  }
  @media (min-width: 900px) {
    font-size: 4rem;
  }
}
}
&__subtitle {
  margin: auto;
    width: 100%;
    position: relative;
    top: 30%;
  h2  {
    text-align: center;
    font-size: 1.7rem;
    font-family: $main-font;
    background: -webkit-linear-gradient(yellow, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    @media (min-width: 500px) {
      font-size: 2.5rem;
    }
    @media (min-width: 900px) {
      font-size: 4rem;
    }
  }
}
}
