@font-face {
  font-family: 'Fate Core Font';
  /* Safari, Android, iOS */
  src: url("Fate Core Font.ttf") format('truetype'),;
}

/* Couleurs */
$burgundy: #800020;
$blue: #006080;
$green: #008020;
$darkbrown: #654321;

body {
  font-family: $main-font;
  font-size: 18px;
  opacity: 0.92;
}

article {}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $main-font;
  @media (min-width: 900px) {
    font-family: $head-font;
  }
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.25;
}

h1 {}

h2 {
  border-bottom: 1px solid black;
  margin-top: 30px;
  margin-bottom: 30px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h5 {}

p {


}

ol,
ul {}

ul {
  list-style: disclosure-closed;
}

li {}

i {
  font-family: $fate-font;
  font-style: normal;
  vertical-align: bottom;
  padding-right: 20px;
}

.page {
  section {
    margin-top: 40px;
    margin-bottom: 40px;
    @media (min-width: 1200px) {
      margin-top: 75px;
      margin-bottom: 75px;
    }

    > p:first-of-type {
      @media (min-width: 1200px) {
        background: lightgrey;
        padding: 20px;
        margin-left: -20px;
        margin-right: -20px;
      }
    }
  }
}

blockquote {
  padding-left: 20px;
  border-left: 2px solid grey;
  margin-top: 30px;
  margin-bottom: 30px;
  color: grey;
  font-size: 18px;
  font-style: normal;
}

figure {
  img {
    width: 100%;
  }
  margin-top: 30px;
  margin-bottom: 30px;
  @media (min-width: 1200px) {
    margin: 40px -120px;
  }
  @media (min-width: 1400px) {
    margin: 40px -160px;
  }
}

div.portraits {
  margin-top: 20px;
  margin-bottom: 20px;
    @media (min-width: 400px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
    }
@media (min-width: 1400px) {
  margin-left: -60px;
  margin-right: -60px;
  margin-top: 40px;
  margin-bottom: 40px;
}
}

div.portrait {
 img {
   width: 100%;
 }
}

/* Suivi des versions */
.v1-1 {
  color: $darkbrown;
}

.site-title {
  text-transform: uppercase;
  @media (min-width: 700px) {
    font-family: $head-font;
  }
}

.site-nav {
  text-transform: uppercase;
}

section.licence {
  padding-top: 20px;
  border-top: 1px solid grey;
  font-size: 15px;
  color: grey;
}

.energie {
  color: $blue!important;
}
.danger {
  color: $burgundy!important;
}

.offrande {
  color: $green!important;
}

.exploit {
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

dl {}
dt {
  font-weight: bold;
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
}
dd {
  margin-bottom: 20px;
}

blockquote.lyrics {
  
}
