---
#Only the main Sass file needs front matter the dashes are enough
---
$head-font: 'Stalinist One', cursive;
//$head-font: 'Rubik', sans-serif;
//$main-font: 'Roboto', sans-serif;
$main-font: 'Open Sans', sans-serif;
$fate-font: 'Fate Core Font';
$head-font: 'Stalinist One', cursive;

@import  "minima";
@import "hero";
@import "text";
