<!DOCTYPE html>
<html lang="fr">

{%- include head.html -%}

  <body>

  {%- include header.html -%}



    <main class="home-main" aria-label="Content">
      <div class="wrapper">

<div class="hero">

</div>

            <article class="">
              <section>
                <h1>Jeu de rôle dans La Cité des Secrets</h1>
              
              <p>Dans un lointain futur, une Europe meurtrie par les catastrophes et les guerres essaie de renaître de ses cendres. Coupés du reste du monde par des phénomènes naturels et les conflits religieux, les organisations politiques européennes
                connaissent le début d'un essor économique, culturel et militaire. Est-ce l’annonce d’un retour de la civilisation, ou est-ce que ces développements ne sont que les résultats des caprices d’une oligarchie cruelle et égoïste connue sous le nom des
                Immortels?</p>
              <p> Projeté au sein d’une toile d’intrigues et de conflits, un petit groupe d’individus aux capacités extraordinaires devra faire preuve d’ingéniosité et de courage pour découvrir les secrets de Locquemare.</p>

              <a class="btn" href="introduction.html">Entrez</a>
              </section>
            </article>


      </div>
    </main>



    {%- include footer.html -%}

  </body>

</html>
