---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Derniers articles" }}</h2> -->
  <div class="post-list">
    {%- for post in site.posts -%}


      <a class="post-list__post" href="{{ post.url | relative_url }}">
      <span class="post-list__image {{ post.cover }}">
      </span>

            <h3 class="post-list__title">
                {{ post.title | escape }}
            </h3>

          <p class="post-list__text">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{% include date.html date=post.date %}</span>
            {%- if site.show_excerpts -%}
            <br>{{ post.excerpt }}</p>


      {%- endif -%}
    </a>

    {%- endfor -%}
  </div>


  {%- endif -%}

</div>
