<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="hero" aria-label="Content">



          <div class="hero__title">
            <h1>Locquemare</h1>
          </div>
          <div class="hero__subtitle">
            <h2>Cité des Secrets</h2>
          </div>

    </main>
    <div class="wrapper">
          {%- if site.posts.size > 0 -%}
          <div class="post-list">
            {%- for post in site.posts -%}


              <a class="post-list__post" href="{{ post.url | relative_url }}">
              <span class="post-list__image {{ post.cover }}">
              </span>

                    <h3 class="post-list__title">
                        {{ post.title | escape }}
                    </h3>

                  <p class="post-list__text">
                    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                    <span class="post-meta">{% include date.html date=post.date %}</span>
                    {%- if site.show_excerpts -%}
                    <br>{{ post.excerpt }}</p>


              {%- endif -%}
            </a>

            {%- endfor -%}
          </div>


          {%- endif -%}


      </div>


    {%- include footer.html -%}

  </body>

</html>
